<%- include("../../layout/admin-navbar") -%>


    <div class="money  management">
        <br>
        <p class="title">ادارة الاموال</p>
        <br>
        <table class="container table table-striped table-hover">
            <thead>
                <tr>
                    <th>الاسم</th>
                    <th>Invoice ID</th>
                    <th>السعر الكامل</th>
                    <th>المبلغ المدفوع</th>
                    <th>المبلغ المستحق</th>
                    <th>التاريخ</th>
                </tr>
            </thead>

            <tbody>

                <button class="show" id="show" onclick="openElement()"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-plus" width="36" height="36" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="12" y1="5" x2="12" y2="19" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                    </svg></button>
                <button class="show" id="close" onclick="closeElement()"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-ban" width="36" height="36" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <line x1="5.7" y1="5.7" x2="18.3" y2="18.3" />
                    </svg></button>

                <tr id="add-element">
                    <form action="/admin/money" method="post">
                        <td><input  type="text" autocomplete="off" name="name" placeholder="الاسم"></td>
                        <td><input  type="text" autocomplete="off" name="invoice_id" placeholder="Invoice ID"></td>
                        <td><input  type="text" autocomplete="off" name="total" placeholder="المبلغ الكلي"></td>
                        <td><input  type="text" autocomplete="off" name="paid" placeholder="المبلغ المدفوع"></td>
                        <td><button class="add"><svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-check" width="32" height="32"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l5 5l10 -10" />
                                </svg></button></td>
                        <td></td>
                        <td></td>
                    </form>
                </tr>

                <% money.forEach(data=> {%>
                    <tr>
                        <td>
                            <%= data.name%>
                        </td>
                        <td>
                            <%= data.invoice_id%>
                        </td>

                        <td>
                            <%= data.total%>
                        </td>
                        <td>
                            <%= data.paid%>
                        </td>

                        <td>
                            <%= data.left%>
                        </td>

                        <td>
                            <%= data.Date%>
                        </td>
                        <td><form action="/admin/money/delete/<%= data.id%>?_method=DELETE" method="post">
                            <button class="tool-btn"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                              </svg></button>
                        </form></td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>

    <script>
        function openElement() {
            document.getElementById("add-element").style.display = "contents"
            document.getElementById("show").style.display = "none"
            document.getElementById("close").style.display = "inline"
        }

        function closeElement() {
            document.getElementById("add-element").style.display = "none"
            document.getElementById("show").style.display = "inline"
            document.getElementById("close").style.display = "none"
        }
    </script>

    <%- include("../../layout/footer") -%>